<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DB" connectionString="Data Source=DESKTOP-8VK7LQ4;Initial Catalog=course_work;User ID={0};Password={1}"/>
		<add name="register" connectionString="Data Source=DESKTOP-8VK7LQ4;Initial Catalog=course_work;User ID=Registration;Password=Registration"/>
	</connectionStrings>
</configuration>